@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add user</h2>

<h4>Add a user to this Recipe: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)

    @Html.Label("Select User")
    @Html.DropDownList("Id")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>