@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model RecipeBox.Models.Ingredient

<h2>Ingredient Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.IngredientName): @Html.DisplayFor(model => model.IngredientName)</h3>  

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Ingredient does not have any Recipes yet!</p>
}
else
{
  <h4>This ingredinet has the following recipes:</h4>
  <ul>
    @foreach(RecipeIngredient join in Model.JoinEntities)
    {
      <li>Recipe: @join.Recipe.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Ingredients"))
      {
        @Html.Hidden("joinId", @join.RecipeIngredientId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Ingredient or recipe", "Edit", new { id = Model.IngredientId })</p>
<p>@Html.ActionLink("Add a Recipe", "AddRecipe", new { id = Model.IngredientId })</p>
<p>@Html.ActionLink("Delete Ingredient", "Delete", new { id = Model.IngredientId })</p>