@{
    Layout = "_Layout";
}

@using RecipeBox.Models
@model RecipeBox.Models.Ingredient

<h2>Edit ingredient: @Html.DisplayFor(model => model.IngredientName)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.IngredientId)

    @Html.LabelFor(model => model.IngredientName)
    @Html.EditorFor(model => model.IngredientName)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Show all ingredients", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>