@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

@using RecipeBox.Models;

@{
    // Generate a random number between 1 and 1000
    Random random = new Random();
    int randomNumber = random.Next(1, 1000);
}

<h1>Welcome to the Recipe Box!</h1>
<img src="https://baconmockup.com/@randomNumber/@randomNumber" alt="MEAT" />

<hr>

<h4>Recipes</h4>
@if (Model["recipes"].Length == 0)
{
  <p>No recipes have been added yet!</p>
} 
<ul>
  @foreach (Recipe recipe in Model["recipes"])
  {
    <li>@Html.ActionLink(@recipe.Name, "Details", "Recipes", new { id = @recipe.RecipeId})</li>
  }
</ul>

@if (User.Identity.IsAuthenticated)
{
  <h4>Ingredients for @User.Identity.Name</h4>
  @if (Model["ingredients"].Length == 0)
  {
    <p>No ingredients have been added yet!</p>
  } 
  <ul>
    @foreach (Ingredient ingredient in Model["ingredients"])
    {
      <li>@Html.ActionLink(@ingredient.IngredientName, "Details", "Ingredients", new { id = @ingredient.IngredientId})</li>
    }
  </ul>
}
else
{
  <h4>Ingredients</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your ingredients.</p>
}

<hr>

<p>@Html.ActionLink("Manage Recipes", "Index", "Recipes")</p> 
<p>@Html.ActionLink("Manage Ingredients", "Index", "Ingredients")</p>
<p>@Html.ActionLink("Manage Tags", "Index", "Tags")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>