@{
    Layout = "_Layout";
}
@using RecipeBox.Models
@foreach (RandomMeal meal in Model)
{
    <h1>@meal.Meal</h1>
    <ul>
        <li>@meal.Measure1 @meal.Ingredient1</li>
        <li>@meal.Measure2 @meal.Ingredient2</li>
        <li>@meal.Measure3 @meal.Ingredient3</li>
        <li>@meal.Measure4 @meal.Ingredient4</li>
        <li>@meal.Measure5 @meal.Ingredient5</li>
        <li>@meal.Measure6 @meal.Ingredient6</li>
        <li>@meal.Measure7 @meal.Ingredient7</li>
        <li>@meal.Measure8 @meal.Ingredient8</li>
        <li>@meal.Measure9 @meal.Ingredient9</li>
        <li>@meal.Measure10 @meal.Ingredient10</li>
        <li>@meal.Measure11 @meal.Ingredient11</li>
        <li>@meal.Measure12 @meal.Ingredient12</li>
        <li>@meal.Measure13 @meal.Ingredient13</li>
        <li>@meal.Measure14 @meal.Ingredient14</li>
        <li>@meal.Measure15 @meal.Ingredient15</li>
        <li>@meal.Measure16 @meal.Ingredient16</li>
        <li>@meal.Measure17 @meal.Ingredient17</li>
        <li>@meal.Measure18 @meal.Ingredient18</li>
        <li>@meal.Measure19 @meal.Ingredient19</li>
        <li>@meal.Measure20 @meal.Ingredient20</li>
    </ul>
    <br>
    <br>
    <p>@meal.Instructions</p>
}
