@{
    Layout = "_Layout";
}
@using RecipeBox.Models
{
    <h1>@Model.strMeal</h1>
    <ul>
        <li>@Model.strMeasure1 @Model.strIngredient1</li>
        <li>@Model.strMeasure2 @Model.strIngredient2</li>
        <li>@Model.strMeasure3 @Model.strIngredient3</li>
        <li>@Model.strMeasure4 @Model.strIngredient4</li>
        <li>@Model.strMeasure5 @Model.strIngredient5</li>
        <li>@Model.strMeasure6 @Model.strIngredient6</li>
        <li>@Model.strMeasure7 @Model.strIngredient7</li>
        <li>@Model.strMeasure8 @Model.strIngredient8</li>
        <li>@Model.strMeasure9 @Model.strIngredient9</li>
        <li>@Model.strMeasure10 @Model.strIngredient10</li>
        <li>@Model.strMeasure11 @Model.strIngredient11</li>
        <li>@Model.strMeasure12 @Model.strIngredient12</li>
        <li>@Model.strMeasure13 @Model.strIngredient13</li>
        <li>@Model.strMeasure14 @Model.strIngredient14</li>
        <li>@Model.strMeasure15 @Model.strIngredient15</li>
        <li>@Model.strMeasure16 @Model.strIngredient16</li>
        <li>@Model.strMeasure17 @Model.strIngredient17</li>
        <li>@Model.strMeasure18 @Model.strIngredient18</li>
        <li>@Model.strMeasure19 @Model.strIngredient19</li>
        <li>@Model.strMeasure20 @Model.strIngredient20</li>
    </ul>
    <br>
    <br>
    <p>@Model.Instructions</p>
}
